@model VU_SLMS.Models.Leave
@{
    ViewData["Title"] = "Add/Update Leave";
    var emp = ViewBag.Totalemp;
}
<div class="card row">
    <div class="card-body col-md-12 col-lg-10">
        <h5 class="card-title">@ViewData["Title"]</h5>
        <form action="AddUpdateLeave" method="post">
            @if (Model != null)
            {
                <input type="hidden" asp-for="Id" />
            }
            <div class="row mb-3">
                <div class="col-sm-10">
                    <div class="form-floating mb-3">
                        <select asp-for="EmployeeId" class="form-select" id="floatingSelect" aria-label="Floating label select example" required>
                            <option selected value="">Select Employee</option>
                            @foreach (var E in emp)
                            {
                                <option value="@E.Id">@E.Name</option>
                            }
                        </select>
                        <label for="floatingSelect">Employee Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select asp-for="Name" class="form-select" id="myDropdown" aria-label="Floating label select example" required>
                            <option selected value="">Select Leave Type</option>
                            <option value="Regular">Regular</option>
                            <option value="Emergency">Emergency</option>
                            <option value="Medical">Medical</option>
                            <option value="Eid">Eid</option>
                            <option value="Other">Other</option>
                        </select>
                        <label for="floatingSelect">Leave Type</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea asp-for="Description" class="form-control" placeholder="Benefit Description" id="floatingTextarea" style="height: 100px;"></textarea>
                        <label for="floatingTextarea">Leave Description</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="DateFrom" type="text" class="form-control" id="floatingdate" placeholder="Start Date" onfocus="(this.type='date')" onblur="if(!this.value) this.type='text'" autocomplete="off" required>
                        <label for="floatingdate">Date From</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="DateTo" type="text" class="form-control" id="floatingdate" placeholder="End Date" onfocus="(this.type='date')" onblur="if(!this.value) this.type='text'" autocomplete="off" required>
                        <label for="floatingdate">Date To</label>
                    </div>
                    @if (Model != null)
                    {
                        <button type="submit" class="btn btn-sm btn-outline-primary">Update Leave</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-sm btn-outline-primary">Add Leave</button>
                    }
                    <button type="reset" class="btn btn-sm  btn-outline-warning">Reset Form</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            //alert("Hi");
        });
    </script>
}



