@model VU_SLMS.Models.Employee
@{
    ViewData["Title"] = "Add/Update Employee";
}

<div class="pagetitle">
    <h1>@ViewData["Title"]</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
            <li class="breadcrumb-item active">@ViewData["Title"]</li>
        </ol>
    </nav>
</div>
    
<div class="card row">
    <div class="card-body col-md-12 col-lg-10">
        <h5 class="card-title">@ViewData["Title"]</h5>
        <form action="AddUpdateEmployee" method="post">
            @if (Model != null)
            {
                <input type="hidden" asp-for="Id" />
            }
            <div class="row mb-3">
                <div class="col-sm-10">
                    <div class="form-floating mb-3">
                        <input asp-for="Name" type="text" class="form-control" id="floatingInput" placeholder="Name" required>
                        <label for="floatingInput">Employee Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select asp-for="Designation" class="form-select" id="myDropdown" aria-label="Floating label select example" required>
                            <option selected value="">Select Designation</option>
                            <option value="Canteen">Canteen</option>
                            <option value="Driver">Driver</option>
                            <option value="Security">Security</option>
                        </select>
                        <label for="floatingSelect">Designation</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select asp-for="Gender" class="form-select" id="myDropdown" aria-label="Floating label select example" required>
                            <option selected value="">Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                        <label for="floatingSelect">Gender</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="PhoneNo" type="number" class="form-control" id="floatingPassword" placeholder="Phone No. after +92 or 0" required>
                        <label for="floatingPassword">Phone No. "after +92 or 0"</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="JoiningDate" type="text" class="form-control" id="floatingdate" placeholder="Joining Date" onfocus="(this.type='date')" onblur="if(!this.value) this.type='text'" autocomplete="off" required>
                        <label for="floatingdate">Joining Date</label>
                    </div>
                    @*<div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 100px;"></textarea>
                        <label for="floatingTextarea">Comments</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <label for="floatingSelect">Works with selects</label>
                    </div>*@
                        @if(Model != null)
                        {
                            <button type="submit" class="btn btn-sm btn-outline-primary">Update Employee</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-sm btn-outline-primary">Add Employee</button>
                        }
                        <button type="reset" class="btn btn-sm  btn-outline-warning">Reset Form</button>
                </div>
            </div>
        </form>
    </div>
</div>